<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar id="admin-header" color="primary" style="width:100%; background-color: white;color: #908b8b;padding: 0;"
    class="example-toolbar">
    <div class="row theamColor topLeft-appName" style="">
      <button mat-icon-button (click)="snav.toggle()" style="width: 20%;">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-app-name" style="width: 80%;cursor: pointer;" [routerLink]="['/Dashboard']">
        Learn<span style="font-weight: bold;">Together</span>
      </span>
    </div>
    <div class="row topRight-header">
      <div class="col-sm-2">
        Admin Dashboard
      </div>
      <div class="col-sm-7" style="text-align: center;">
        <!-- Welcome {{currentUser.user_name | uppercase}} -->
      </div>
      <div class="col-sm-3" style="text-align: right;color: ivory;cursor: pointer;">
        <a *ngIf="currentUser.role.role_name != 'Admin'" (click)="goToGeneralView()" class=""
          style="text-decoration: none;" title="Go to {{showViewText}}">{{showViewText}}</a>
        <a (click)="logOut($event)" class="logoutBar">Logout</a>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="theamColor" mode="side" opened style="width: 15%;visibility: visible;" #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <div class="userPanelPart" style="padding-bottom: 5%;">
        <img src='../../../../assets/images/lg/new_res/default_profile icon.png' />
        <div class="userName">
          <div style="font-size: 14px; padding-top: 3%">Welcome, {{currentUser.first_name | titlecase}}
            {{currentUser.last_name}}</div>
          <div style="padding-top: 3%;"><span style="border: 1px solid;
            border-radius: 10px;
            padding: 1px 5px 1px 5px; font-size: 12px;">{{currentUser.user_name | titlecase}}</span></div>
        </div>
      </div>
      <mat-nav-list class="menuList">
        <a mat-list-item [routerLink]="['/dashboard']"
          routerLinkActive="activeAdminMenu" #Dashboard="routerLinkActive">
          <img *ngIf="!Dashboard.isActive"
            src="../../../../assets/images/lg/new_res/sidebarMenu/Dashboard Icon Default.png" alt="Icon"
            class="menuIcon">
          <img *ngIf="Dashboard.isActive"
            src="../../../../assets/images/lg/new_res/sidebarMenu/Dashboard Icon Selected.png" alt="Icon"
            class="menuIcon">
          <span>Dashboard</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content id="admin-sidenav-full-page" style="overflow: auto;background: #F2F6FC">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>