.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  .theamColor {
    background: #F4B520;
    color: white;
  }
  
  .topLeft-appName {
    width: 15%;
    margin: 0;
    padding: 14px 0px;
    font-size: 15px;
  }
  
  .topRight-header {
    width: 85%;
    margin: 0;
    font-size: 15px;
  }
  input:focus {
    outline: none !important;
    border-color: #F4B520;
  }
  
  select:focus {
    outline: none !important;
    border-color: #F4B520;
  }
  
  textarea:focus {
    outline: none !important;
    border-color: #F4B520;
  }
  .mat-sidenav {
    top: 0px !important;
  }
  
  .menuList a {
    font-size: 15px;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  /* .progressLoaderBack {
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 30%;
    background-repeat: no-repeat;
  } */
  
  h1.example-app-name {
    /* margin-left: 8px; */
    /* color: #fffbfbb8; */
  }
  
  .menuIcon {
    width: 20px;
    /* margin-right: 5px; */
    margin-right: 10%
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .logoutBar {
    background: red;
    color: white;
    font-size: 20px;
    position: relative;
    right: -15px;
    padding: 20px;
    text-decoration: none;
  }
  
  mat-expansion-panel-header {
    line-height: 2;
    padding: 0px 8px !important;
    height: 49px !important;
  }
  
  mat-sidenav-content {
    padding: 8px;
  }
  
  .userPanelPart {
    text-align: center;
    color: white;
  }
  
  .userPanelPart img {
    width: 30%;
  }
  
  
  mat-nav-list {
    /* padding: 5px; */
  }
  
  .mat-drawer {
  
    /* background-color: #F4B520 !important; */
  }
  
  .mat-list-item {
    color: white !important;
  }
  
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    display: block !important;
    margin-left: 25px;
    ;
    text-indent: 10px !important;
  }
  
  .activeAdminMenu {
    background-color: #F2F6FC !important;
    color: #607D8B !important;
  }
  
  .mat-list-base .mat-list-item .mat-list-item-content,
  .mat-list-base .mat-list-option .mat-list-item-content {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
    margin-left: 23px !important;
  }
  