<div class="row pull-right" style="position: relative;z-index: 9999;right: 12%;">
  <a class="btn btn-success" href="/Signup">Signup</a>&nbsp;
  <a class="btn btn-success" href="/Signin">Login</a>
</div>
<div class="wlcomeImage" style="padding-top: 20px;position: relative;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEMAAABkCAMAAADqvX3PAAAAKlBMVEUAAADX19fX19fBwcHT09PX19fW1tbT09PW1tbV1dXOzs7Ozs7BwcHV1dX5uIg2AAAADnRSTlMAPQAKH0czAAApFAAAAHys1goAAAHwSURBVHja7ZfdcuMwCEb1GUIDcd//dZuk2n5rZzCKOzuzFzo3+XNOBAIHtQosxwi0XUw/jjh2qN1pVzV43FJwJIDLuq5tvaNmzxeEZI5wWP/p9v0gypgGYhGH8fL28yyM7ycOJkFlJW3tZDHhRdBjIO22JR6a1BGMgTAWopvr6BC1jSB1MDWyXYfvkpDlg4iiV83lITiuoXZL+U4/ltcNq2MhogaYBWMYjYU8HHfSRdTrCIOLYImemrfz8dMO6DlVGYyFMWz3tmuGY6GgO1ikXVM51JDXurBO0nyEcyPTnvOXvmyb0hzqfV64jUUYw47Re9CZe6EbeC+M39+TcfK/gTFZuxZgOSag7aMASwGkrQW1Y2lLwXRMx3RMx3T8Pw67FpSOcA5RCccOcTMNL05aRw7Fn2kizA7+1VNH6ENAOBgOxiIK888dHPVqh+Q/yeknzQfHkhx+nqyjT0QFzDUd2Skp53lp7PdFnEkYIhzQv/KRzJUV0QdDSON5+S14CEW0vqSTiAPWWDknCLsY0BZxnNP0L/Z9YQEO8yznXZ2yNwfgTu7rNFgj9aamvS9eZljMTNOeoybSGNwQkvZ+3XrCU07t4HmWSBjDLBzEwdSzhMYcRPRZNYmgdjA1FyahcKQIqpKZs8N0TMd0TMd0/BvHF8n9f8tHo7HcAAAAAElFTkSuQmCC), linear-gradient(to left, #0abec6, #1c976d)">
  <span style="position: relative; top: 35%;
    transform: translate(-50%, -50%);">
    <p class="text-block">
      SensorBuzz Video Collaboration Hub is the one-stop shop for all your video collaboration needs. You can set
      up one on one or multi-party audio or video conferences and meetings hosted on this site. These could be
      from SensorBuzz' own Apps and webpages or from 3rd-party partner Apps or websites or from Cisco IPPhones.
    </p>
  </span>
  <img style="height: 58%;" class="wlImage img-responsive" src="../../../assets/images/vdo.sensorbuzz.diagram">
</div>

<style>
  body{
    overflow-y: scroll
  }
  .text-block {
    position: relative;
    font-size: 20px;
    color: white;
    padding: 30px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    top: -31%;
  }

  .wlImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .btn-success {
    background-color: blue;
    color: white
  }
</style>
