<div style="display: none" class="conStatusText"></div>
<mat-progress-bar class="preloader" style="display: none" mode="indeterminate"></mat-progress-bar>

<div class="wlcomeImage" style="position: relative; color: white;">

</div>


<style>
    .text-block {
        /* background-color: #0000008f; */
        font-size: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }

    .conStatusText {
        position: absolute;
        background-color: red;
        color: white;
        padding: 10px;
        left: 30%;
        top: 10%;
        text-align: justify;
    }

    #conf_shr {
        
    }
</style>