<mat-nav-list class="menuList">
  <a mat-list-item [routerLink]="['patient-appointment/schedule/departments']" routerLinkActive="activeAdminMenu">
    <img src="../../../../../assets/images/medi-sheba/Schedule Icon Selected/Schedule Icon Selected@3x.png" alt="Icon" class="menuIcon">
    <span>Schedule</span>
  </a>
  <a mat-list-item [routerLink]="['patient-appointment/today']" routerLinkActive="activeAdminMenu">
    <img src="../../../../../assets/images/medi-sheba/Schedule Icon Selected/Schedule Icon Selected@3x.png" alt="Icon" class="menuIcon">
    <span>Today Appointments</span>
  </a>
  <!-- <a mat-list-item [routerLink]="['/appointment/schedule/departments']" routerLinkActive="activeAdminMenu">
    <img src="../../../../../assets/images/medi-sheba/Schedule Icon Selected/Schedule Icon Selected@3x.png" alt="Icon" class="menuIcon">
    <span>Upcoming Appointment</span>
  </a> -->
</mat-nav-list>